@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/avenir-next-regular.ttf"); /* File to be stored at your site */
}

body {
  font-family: "Avenir Next", "Lato", Helvetica, sans-serif;
}
